<!DOCTYPE html>
<html>
    <head>
        <title>Food App</title>
        <link rel="stylesheet" href="css/style.css" />
        <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">    
    </head>
    <body>
        <main>
        <header>
        <h2>Food Hub</h2>
        <div class="description">
        <p>The Food Hub, created by Lizbeth A and Alma P, is a food app that shows you the recipie of the food you chose to research. This app will help and guide you make memorable meals that you will enojy daily. You will be able to use this app anywhere you are it could even help you impress that grouchy mother in law.  </p>
        </div>
        </header>
        <div class="container">
        <form method="POST" action="/">
       
            <p>Input Food: <input name="food" /></p>
            <button type="submit"><a class="waves-effect waves-light btn pink lighten-4"><i class="material-icons left">cake</i>Submit Food</button></a>
        </form>
        </div>
        </main>
        
        <div class="footer">
			&copy Hungry-Coders 2017
		</div>
        
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </body>
</html>

